server:
  port: 8080
  servlet:
    context-path: /api

spring:
  datasource:
    username: postgres
    password: postgres
    url: jdbc:postgresql://localhost:5432/siso
  jpa:
    hibernate:
      ddl-auto: update

auth-service:
  authentication:
    url: https://adonis-auth-service.herokuapp.com/api